.body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.navigationbar {
    background-color: beige;
    overflow: hidden;
    position: fixed;
}

.left {
    float: left;
    padding: 5px 5px 5px 5px;
}

.right {
    float: right;
    padding: 5px 5px 5px 5px;
    cursor: pointer;
}

.right:hover {
    transition: transform 0.5s;
    transform: scale(1.1);
}

.footer {
    background-color: beige;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}